---
import Layout from '../layouts/Layout.astro';
const dataHome = {}
const marcas = [
    {
        name: 'Neurofisiología',
        slug: 'neurofisiologia',
        isActive: true,
        iconImage: '/temp/categorias/img - especialidad.png',
    },
    {
        name: 'Neurocirugía',
        slug: 'neurocirugia',
        isActive: true,
        iconImage: '/temp/categorias/img - especialidad-1.png',
    },
    {
        name: 'Neuromodulación',
        slug: 'neuromodulacion',
        isActive: true,
        iconImage: '/temp/categorias/img - especialidad-2.png',
    },
    {
        name: 'Rehabilitación',
        slug: 'rehabilitacion',
        isActive: true,
        iconImage: '/temp/categorias/img - especialidad-3.png',
    },
    {
        name: 'Neurovascular',
        slug: 'neurovascular',
        isActive: true,
        iconImage: '/temp/categorias/img - especialidad-4.png',
    },
    {
        name: 'Consumibles',
        slug: 'consumibles',
        isActive: true,
        iconImage: '/temp/categorias/img - especialidad-5.png',
    },
];
---
<Layout title="Med Rent - Distribuimos las mejores marcas de equipo médico" pageType="product">

    <!-- Sección de contacto -->
    <section class="max-w-7xl mx-auto grid md:grid-cols-2 gap-6 rounded-a-[24px] pt-6 pr-4 pb-0 pl-4 md:py-6 md:px-6 lg:px-[135px] lg:py-6">
        <!-- Columna 1: Encabezado -->
        <div class="space-y-2 p-0 md:pt-16 md:pb-16 md:px-0 lg:pt-[100px] lg:pb-6 lg:px-6 xl:px-6 2xl:px-6">
        <h3 class="text-[var(--color-accent)] font-bold text-[14px] md:text-[14px] uppercase "> SOMOS MEDRENT</h3>
        <h1 class="font-normal md:text-[28px] text-[28px]  mb-6">
            {dataHome.TituloContacto || 'La tecnología del futuro, hoy en tu consultorio gracias a MedRent. Financiamiento sin enganche.'}
        </h1>
        <p class="text-[#212121] md:text-[16px] text-[16px] text-[var(--color-green-dark)] mt-2 text-pretty">
            
            {dataHome.DescripcionContacto ? (
                <BlocksRenderer content={dataHome.DescripcionContacto} />
            ) : (
                <>
                    <span class="font-light">En MedRent no solo distribuimos equipos, impulsamos tu crecimiento profesional. Déjanos asesorarte para encontrar la solución tecnológica perfecta para transformar la vida de tus pacientes.</strong>
                </>
            )}
        </p>
        </div>
    
        <!-- Columna 2: Formulario -->
        <form id="home-form" class="space-y-6 p-0 pt-8 pb-8 md:pt-16 md:pb-16 md:px-0 lg:pt-[100px] lg:pb-6 lg:px-6 xl:px-6 2xl:px-6 rounded">

            <!-- Inputs visibles con label flotante -->
            <div class="relative">
                <label class="absolute -top-3 left-3 bg-[var(--color-green-dark)] px-2 text-sm text-[#FFF] rounded-xs">Nombre completo*</label>
                <input name="name" type="text" placeholder="Ej: Dra. Carolina Ávila" required class="w-full border border-[var(--color-green-dark)] border-2 focus:border-2 rounded-[4px] px-4 py-3 placeholder:text-[#A0A0A0] text-[#212121] focus:outline-none outline-none focus:ring-0 bg-white hover:bg-[var(--color-secondary-light)] focus:bg-[var(--color-secondary-light)] transition-colors duration-300" />
            </div>

            <div class="relative">
                <label class="absolute -top-3 left-3 bg-[var(--color-green-dark)] px-2 text-sm text-[#FFF] rounded-xs">Correo electrónico*</label>
                <input name="email" type="email" placeholder="Ej: carolina.avila@hospitalcardio.mx" required class="w-full border border-[var(--color-green-dark)] border-2 focus:border-2 rounded-[4px] px-4 py-3 placeholder:text-[#A0A0A0] text-[#212121] focus:outline-none outline-none focus:ring-0 bg-white hover:bg-[var(--color-secondary-light)] focus:bg-[var(--color-secondary-light)] transition-colors duration-300" />
            </div>

            <div class="relative">
                <label class="absolute -top-3 left-3 bg-[var(--color-green-dark)] px-2 text-sm text-[#FFF] rounded-xs">Teléfono de contacto*</label>
                <input
                id="phone"
                name="phone"
                type="tel"
                placeholder="Ej: 55 1234 5678"
                required
                maxlength="16"
                class="w-full border border-[var(--color-green-dark)] border-2 focus:border-2 rounded-[4px] px-4 py-3 placeholder:text-[#A0A0A0] text-[#212121] focus:outline-none outline-none focus:ring-0 bg-white hover:bg-[var(--color-secondary-light)] focus:bg-[var(--color-secondary-light)] transition-colors duration-300"
                />
            </div>

            <div class="relative">
                <label for="specialty" class="absolute -top-3 left-3 bg-[var(--color-green-dark)] px-2 text-sm text-[#FFF] rounded-xs">
                Especialidad médica*
                </label>
            
                <select
                    name="specialty"
                    id="specialty"
                    required
                    class="w-full border border-[var(--color-green-dark)] border-2 focus:border-2 appearance-none rounded-[4px] px-4 py-3 text-[#A0A0A0] focus:outline-none outline-none focus:ring-0 bg-white hover:bg-[var(--color-secondary-light)]  transition-colors duration-300 pr-10 cursor-pointer"
                    onchange="this.classList.remove('text-[#A0A0A0]')"
                >
                <option value="">¿Cuál es tu especialidad médica?</option>
                <option value="Alergología">Alergología</option>
                <option value="">¿Cuál es tu especialidad médica?</option>
                <option value="Alergología">Alergología</option>
                <option value="Angiología">Angiología</option>
                <option value="Cardiología">Cardiología</option>
                <option value="Cardiología Intervencionista Pediátrica">Cardiología Intervencionista Pediátrica</option>
                <option value="Cardiología clínica">Cardiología clínica</option>
                <option value="Cardiología deportiva">Cardiología deportiva</option>
                <option value="Cardiología intensivista">Cardiología intensivista</option>
                <option value="Cardiología intervencionista">Cardiología intervencionista</option>
                <option value="Cardiología pediátrica">Cardiología pediátrica</option>
                <option value="Cardiólogo arritmología">Cardiólogo arritmología</option>
                <option value="Cardioneumología">Cardioneumología</option>
                <option value="Cirugía Cardiovascular Pediátrica">Cirugía Cardiovascular Pediátrica</option>
                <option value="Cirugía cardiovascular">Cirugía cardiovascular</option>
                <option value="Cirugía cardiotorácica">Cirugía cardiotorácica</option>
                <option value="Ecocardiografía">Ecocardiografía</option>
                <option value="Ecocardiografía pediátrica">Ecocardiografía pediátrica</option>
                <option value="Electrofisiología cardiaca">Electrofisiología cardiaca</option>
                <option value="Electrofisiología cardiaca pediátrica">Electrofisiología cardiaca pediátrica</option>
                <option value="Medicina Familiar">Medicina Familiar</option>
                <option value="Medicina de Urgencias">Medicina de Urgencias</option>
                <option value="Medicina del Deporte">Medicina del Deporte</option>
                <option value="Medicina del sueño/Somnología">Medicina del sueño/Somnología</option>
                <option value="Medicina interna">Medicina interna</option>
                <option value="Nefrología">Nefrología</option>
                <option value="Neumología">Neumología</option>
                <option value="Neumología Intervencionista">Neumología Intervencionista</option>
                <option value="Neumología pediátrica">Neumología pediátrica</option>
                <option value="Otorrinolaringología">Otorrinolaringología</option>
                <option value="Paramedicina / Atención Prehospitalaria">Paramedicina / Atención Prehospitalaria</option>
                <option value="Radiología Intervencionista">Radiología Intervencionista</option>
                <option value="Rehabilitación cardiaca">Rehabilitación cardiaca</option>
                <option value="Terapia intensiva cardiovascular">Terapia intensiva cardiovascular</option>
                <option value="Otro">Otro</option>
                </select>
            
                <!-- Flechita SVG -->
                <div class="pointer-events-none absolute right-3 top-1/2 -translate-y-1/2">
                <svg class="w-4 h-4 text-[#5A3A36]" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
                </div>
            </div>

            <style>
                select::-webkit-inner-spin-button,
                select::-webkit-outer-spin-button,
                select::-webkit-search-cancel-button,
                select::-webkit-search-decoration,
                select::-webkit-search-results-button,
                select::-webkit-search-results-decoration,
                select::-ms-expand  {
                    display: none;
                }

            </style>
        
            <!-- Inputs ocultos -->
            <input type="hidden" name="unidades_de_negocios" value="MEDRENT" />
            <input type="hidden" name="hs_all_assigned_business_unit_ids" value="2380506" />
            <input type="hidden" name="utm_term" />
            <input type="hidden" name="utm_medium" />
            <input type="hidden" name="utm_source" />
            <input type="hidden" name="utm_content" />
            <input type="hidden" name="utm_campaign" />
            <input type="hidden" name="definicion_de_necesidad" value="Compra Equipo Médico" />
        
            <!-- Checkbox -->
            <div class="flex items-start gap-2">
                <input
                type="checkbox"
                id="aviso"
                required
                class="mt-1 border-[#5A3A36] text-[#5A3A36] focus:ring-[#5A3A36]"
                />
                <label for="aviso" class="text-sm text-[#212121] cursor-pointer">
                He leído y acepto el
                <a href="/aviso-de-privacidad" target="_blank" class="text-[var(--color-accent)] underline">
                    Aviso de Privacidad
                </a>
                </label>
            </div>
        
            <!-- Botón -->
            <button id="submit-btn" type="submit" class="bg-[var(--color-primary)] text-white p-[16px] m-0 rounded w-full font-bold transition  cursor-pointer disabled:opacity-40 disabled:cursor-not-allowed" aria-label="Recibir asesoría personalizada" disabled>
                 Agenda una DEMO
            </button>
        
            <div id="status" class="text-center mt-2 text-sm"></div>
        </form>	
    </section>


    <!--  Sección mosaico de categorías-->
    <section class="py-6 px-8 max-w-7xl mx-auto flex flex-col gap-6">
        <!-- <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8"> -->
            <div class="text-center p-6">
                <h3 class="text-[var(--color-accent)] font-bold text-[14px] md:text-[14px] uppercase text-center "> Especialistas en tecnología</h3>
                <h2 class=" text-[24px] font-bold font-bold text-[var(--color-text-default)] tracking-tight">
                    Acercamos tecnología que fortalece los estándares en salud.
                </h2>
            </div>

            <div class=" grid gap-6 md:grid-cols-2 lg:grid-cols-3">
                {marcas.map((marca) => (
                    <div class="text-center p-6" key={marca.slug}>
                        <div class="flex items-center justify-center p-4">
                            <img src={marca.iconImage} alt={marca.name} class="w-[84px] h-[84px]" />
                        </div>
                        <h3 class="my-2 text-[22px] font-bold text-[var(--color-primary)]">{marca.name}</h3>
                        <a href={marca.isActive ? `/categorias/${marca.slug}` : '#'} class="mt-2 text-[16px] tracking-[0.15px] text-[var(--color-text-default)] hover:underline hover:text-[var(--color-primary)] flex justify-center gap-2">
                            Ver productos
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M17.9199 6.62C17.8185 6.37565 17.6243 6.18147 17.3799 6.08C17.2597 6.02876 17.1306 6.00158 16.9999 6H6.99994C6.73472 6 6.48037 6.10536 6.29283 6.29289C6.1053 6.48043 5.99994 6.73478 5.99994 7C5.99994 7.26522 6.1053 7.51957 6.29283 7.70711C6.48037 7.89464 6.73472 8 6.99994 8H14.5899L6.28994 16.29C6.19621 16.383 6.12182 16.4936 6.07105 16.6154C6.02028 16.7373 5.99414 16.868 5.99414 17C5.99414 17.132 6.02028 17.2627 6.07105 17.3846C6.12182 17.5064 6.19621 17.617 6.28994 17.71C6.3829 17.8037 6.4935 17.8781 6.61536 17.9289C6.73722 17.9797 6.86793 18.0058 6.99994 18.0058C7.13195 18.0058 7.26266 17.9797 7.38452 17.9289C7.50638 17.8781 7.61698 17.8037 7.70994 17.71L15.9999 9.41V17C15.9999 17.2652 16.1053 17.5196 16.2928 17.7071C16.4804 17.8946 16.7347 18 16.9999 18C17.2652 18 17.5195 17.8946 17.707 17.7071C17.8946 17.5196 17.9999 17.2652 17.9999 17V7C17.9984 6.86932 17.9712 6.74022 17.9199 6.62Z" fill="#171D1C"/>
                            </svg>
                        </a>
                    </div>
                ))}
            </div>
        <!-- </div> -->
    </section>



</Layout>