---
const { article } = Astro.props;
import { formatDate } from '@lib/utils.js';
---

<div class="bg-[var(--color-secondary-light)] rounded-[16px]  hover:bg-[var(--color-secondary-light)] hover:shadow-md transition-all duration-300 overflow-hidden flex flex-col h-full relative min-h-[500px]">
    <div class="h-55 relative overflow-hidden flex-shrink-0">
        <img src={article?.heroImage?.url} alt={article?.mainTitle} class="w-full h-full object-cover" style="max-height:218px;" />
    </div>
    <div class="p-6 flex flex-col flex-grow">
        <span class="mb-2 uppercase font-kallisto text-[12px] font-medium leading-[20px] tracking-[0.1px] text-[var(--color-primary)]">{article?.specialty?.specialty}</span>
        <a href={`/blog/${article?.slug}`}>
        <h3 class="text-[22px] font-light text-lg text-[#261819] mb-2 font-kallisto line-clamp-2 leading-7 hover:text-[var(--color-primary)] hover:underline decoration-[var(--color-primary)]">{article?.mainTitle}</h3>
        </a>
        <p class="text-[var(--color-gray-dark)] text-[16px] font-lato ont-normal mb-4 line-clamp-3 flex-grow" style="max-height: 70px;">{article?.shortDescription}</p>
        <div class="flex items-end justify-between mt-auto">
        <span class="text-xs text-[var(--color-gray-dark)] font-kallisto w-full flex">Por:&nbsp;
            <a href={`/blog/autor/${article?.fullname?.slug}`} class="block text-xs text-[var(--color-primary)] cursor-pointer font-kallisto underline decoration-[var(--color-primary)]]">{article?.fullName?.fullName || 'Medrent'}</a>&nbsp;• {formatDate(article?.createdAt)}</span>
        </div>
    </div>
</div>
