---
// src/components/forms/BaseForm.astro
const {
  id,
  class: className = "",
  successTitle = "Gracias por contactarnos.",
  successText = "Tu solicitud ha sido registrada y un asesor especializado se comunicará contigo en las próximas horas para brindarte asesoría personalizada.",
  errorTitle = "No fue posible enviar la solicitud",
  errorText = "Estamos teniendo un inconveniente temporal."
} = Astro.props;
---

<div id={`${id}-wrapper`} class="form-wrapper relative">

  <!-- FORM -->
  <div class="form-container">
    <form id={id} class={className}>
      <slot />
    </form>
  </div>

  <!-- SUCCESS -->
  <div class="form-success hidden">
    <div class="bg-[#F5FAF9] rounded-3xl pt-12 pr-6 pb-8 pl-6 text-center flex flex-col items-center gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
        <path d="M57.015 30.485C57.3404 30.8131 57.7275 31.0734 58.154 31.2511C58.5805 31.4288 59.038 31.5203 59.5 31.5203C59.962 31.5203 60.4195 31.4288 60.846 31.2511C61.2725 31.0734 61.6596 30.8131 61.985 30.485L75.985 16.485C76.6441 15.8259 77.0143 14.9321 77.0143 14C77.0143 13.0679 76.6441 12.1741 75.985 11.515C75.3259 10.8559 74.4321 10.4857 73.5 10.4857C72.5679 10.4857 71.6741 10.8559 71.015 11.515L59.5 23.065L54.985 18.515C54.6587 18.1887 54.2713 17.9298 53.8449 17.7532C53.4185 17.5766 52.9615 17.4857 52.5 17.4857C51.5679 17.4857 50.6741 17.8559 50.015 18.515C49.6887 18.8413 49.4298 19.2288 49.2532 19.6551C49.0766 20.0815 48.9857 20.5385 48.9857 21C48.9857 21.9321 49.3559 22.8259 50.015 23.485L57.015 30.485ZM73.5 28C72.5717 28 71.6815 28.3687 71.0251 29.0251C70.3687 29.6815 70 30.5717 70 31.5V63C70 63.9283 69.6313 64.8185 68.9749 65.4749C68.3185 66.1313 67.4283 66.5 66.5 66.5H17.5C16.5717 66.5 15.6815 66.1313 15.0251 65.4749C14.3687 64.8185 14 63.9283 14 63V29.435L34.58 50.05C36.5444 51.9983 39.1983 53.0926 41.965 53.095C44.8013 53.0804 47.5175 51.9487 49.525 49.945L55.545 43.925C56.2041 43.2659 56.5743 42.3721 56.5743 41.44C56.5743 40.5079 56.2041 39.6141 55.545 38.955C54.8859 38.2959 53.9921 37.9257 53.06 37.9257C52.1279 37.9257 51.2341 38.2959 50.575 38.955L44.45 45.08C43.7957 45.7213 42.9161 46.0805 42 46.0805C41.0839 46.0805 40.2043 45.7213 39.55 45.08L18.935 24.5H38.5C39.4283 24.5 40.3185 24.1313 40.9749 23.4749C41.6312 22.8185 42 21.9283 42 21C42 20.0717 41.6312 19.1815 40.9749 18.5251C40.3185 17.8688 39.4283 17.5 38.5 17.5H17.5C14.7152 17.5 12.0445 18.6062 10.0754 20.5754C8.10625 22.5445 7 25.2152 7 28V63C7 65.7848 8.10625 68.4555 10.0754 70.4246C12.0445 72.3938 14.7152 73.5 17.5 73.5H66.5C69.2848 73.5 71.9555 72.3938 73.9246 70.4246C75.8938 68.4555 77 65.7848 77 63V31.5C77 30.5717 76.6313 29.6815 75.9749 29.0251C75.3185 28.3687 74.4283 28 73.5 28Z" fill="#006764"/>
      </svg>

      <div class="flex flex-col items-center gap-2">
        <h3 class="uppercase text-base font-medium text-[var(--color-primary)]">SOLICITUD ENVIADA</h3>
        <h2 class="text-xl font-semibold text-[24px] font-bold">{successTitle}</h2>
        <p class="text-gray-600">{successText}</p>
        <p class="text-gray-600 font-bold">Si tu requerimiento es urgente, también puedes comunicarte directamente con nuestro equipo comercial.</p>
      </div>

      <a
        href="https://wa.me/525559854347"
        type="button"
        class="retry-btn bg-[#FFF] text-[var(--color-primary)] px-6 py-3 rounded border-3 border-[var(--color-primary)] cursor-pointer transition hover:bg-[var(--color-secondary-light)] flex gap-2"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M12.0011 2.00006C17.5241 2.00006 22.0011 6.47706 22.0011 12.0001C22.0011 17.5231 17.5241 22.0001 12.0011 22.0001C10.2339 22.0031 8.4977 21.5354 6.97111 20.6451L2.00511 22.0001L3.35711 17.0321C2.46607 15.505 1.99802 13.7681 2.00111 12.0001C2.00111 6.47706 6.47812 2.00006 12.0011 2.00006ZM8.59311 7.30006L8.39311 7.30806C8.2638 7.31697 8.13746 7.35093 8.02111 7.40806C7.91269 7.46957 7.81368 7.54636 7.72711 7.63606C7.60711 7.74906 7.53911 7.84706 7.46611 7.94206C7.09624 8.42296 6.89709 9.01337 6.90011 9.62006C6.90211 10.1101 7.03011 10.5871 7.23011 11.0331C7.63911 11.9351 8.31211 12.8901 9.20011 13.7751C9.41411 13.9881 9.62411 14.2021 9.85011 14.4011C10.9535 15.3725 12.2684 16.073 13.6901 16.4471L14.2581 16.5341C14.4431 16.5441 14.6281 16.5301 14.8141 16.5211C15.1053 16.5057 15.3896 16.4269 15.6471 16.2901C15.778 16.2224 15.9058 16.149 16.0301 16.0701C16.0301 16.0701 16.0724 16.0414 16.1551 15.9801C16.2901 15.8801 16.3731 15.8091 16.4851 15.6921C16.5691 15.6054 16.6391 15.5047 16.6951 15.3901C16.7731 15.2271 16.8511 14.9161 16.8831 14.6571C16.9071 14.4591 16.9001 14.3511 16.8971 14.2841C16.8931 14.1771 16.8041 14.0661 16.7071 14.0191L16.1251 13.7581C16.1251 13.7581 15.2551 13.3791 14.7231 13.1371C14.6674 13.1128 14.6078 13.0989 14.5471 13.0961C14.4787 13.0889 14.4095 13.0965 14.3443 13.1185C14.2791 13.1404 14.2193 13.176 14.1691 13.2231C14.1641 13.2211 14.0971 13.2781 13.3741 14.1541C13.3326 14.2098 13.2755 14.252 13.2099 14.2751C13.1444 14.2983 13.0734 14.3014 13.0061 14.2841C12.9409 14.2667 12.8771 14.2446 12.8151 14.2181C12.6911 14.1661 12.6481 14.1461 12.5631 14.1101C11.989 13.86 11.4576 13.5215 10.9881 13.1071C10.8621 12.9971 10.7451 12.8771 10.6251 12.7611C10.2317 12.3843 9.88886 11.958 9.60511 11.4931L9.54611 11.3981C9.50438 11.3339 9.47015 11.2651 9.44411 11.1931C9.40611 11.0461 9.50511 10.9281 9.50511 10.9281C9.50511 10.9281 9.74811 10.6621 9.86111 10.5181C9.97111 10.3781 10.0641 10.2421 10.1241 10.1451C10.2421 9.95506 10.2791 9.76006 10.2171 9.60906C9.93711 8.92506 9.64778 8.24473 9.34911 7.56806C9.29011 7.43406 9.11511 7.33806 8.95611 7.31906C8.90211 7.31239 8.84811 7.30706 8.79411 7.30306C8.65984 7.29536 8.52521 7.2967 8.39111 7.30706L8.59311 7.30006Z" fill="#006764"/>
        </svg>
        Contactar ahora
      </a>

    </div>
  </div>

  <!-- ERROR -->
  <div class="form-error hidden">
    <div class="bg-[#FFF8F7] rounded-3xl pt-12 pr-6 pb-8 pl-6 text-center flex flex-col items-center gap-4">
      <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
        <path d="M61.25 46.41C65.3036 46.4434 69.243 45.0686 72.3956 42.5202C75.5481 39.9719 77.7182 36.4082 78.5352 32.4377C79.3522 28.4671 78.7655 24.3361 76.8752 20.7502C74.9849 17.1642 71.9083 14.3456 68.1709 12.7759C64.4334 11.2062 60.267 10.9826 56.383 12.1434C52.4991 13.3043 49.1386 15.7774 46.8755 19.1406C44.6123 22.5037 43.587 26.5482 43.9744 30.5834C44.3619 34.6185 46.1382 38.394 49 41.265C52.2482 44.5237 56.6491 46.3721 61.25 46.41ZM68.67 36.33C67.1363 37.8515 65.1705 38.8628 63.0409 39.2261C60.9113 39.5894 58.7214 39.287 56.77 38.36L70.77 24.36C71.7042 26.3267 72.004 28.5351 71.6277 30.6797C71.2515 32.8242 70.2179 34.7988 68.67 36.33ZM53.83 21.49C55.7972 19.5203 58.4662 18.4124 61.25 18.41C62.8026 18.4245 64.3327 18.7831 65.73 19.46L51.73 33.46C50.7958 31.4933 50.496 29.2848 50.8723 27.1403C51.2485 24.9958 52.2821 23.0212 53.83 21.49ZM71.75 49.91C70.8217 49.91 69.9315 50.2787 69.2751 50.9351C68.6188 51.5915 68.25 52.4817 68.25 53.41V67.41C68.25 68.3383 67.8813 69.2285 67.2249 69.8849C66.5685 70.5412 65.6783 70.91 64.75 70.91H15.75C14.8217 70.91 13.9315 70.5412 13.2751 69.8849C12.6187 69.2285 12.25 68.3383 12.25 67.41V33.845L32.83 54.425C34.7887 56.3861 37.4433 57.4933 40.215 57.505C41.6244 57.5087 43.0201 57.2286 44.3189 56.6814C45.6178 56.1342 46.7931 55.3311 47.775 54.32C48.4058 53.6674 48.7585 52.7952 48.7585 51.8875C48.7585 50.9798 48.4058 50.1076 47.775 49.455C47.449 49.1216 47.0598 48.8568 46.63 48.6759C46.2003 48.4951 45.7387 48.4019 45.2725 48.4019C44.8063 48.4019 44.3447 48.4951 43.915 48.6759C43.4852 48.8568 43.096 49.1216 42.77 49.455C42.1158 50.0963 41.2361 50.4555 40.32 50.4555C39.4039 50.4555 38.5243 50.0963 37.87 49.455L17.185 28.91H33.25C34.1783 28.91 35.0685 28.5412 35.7249 27.8849C36.3813 27.2285 36.75 26.3383 36.75 25.41C36.75 24.4817 36.3813 23.5915 35.7249 22.9351C35.0685 22.2787 34.1783 21.91 33.25 21.91H15.75C12.9652 21.91 10.2945 23.0162 8.32538 24.9854C6.35625 26.9545 5.25 29.6252 5.25 32.41V67.41C5.25 70.1948 6.35625 72.8655 8.32538 74.8346C10.2945 76.8037 12.9652 77.91 15.75 77.91H64.75C67.5348 77.91 70.2055 76.8037 72.1746 74.8346C74.1438 72.8655 75.25 70.1948 75.25 67.41V53.41C75.25 52.4817 74.8813 51.5915 74.2249 50.9351C73.5685 50.2787 72.6783 49.91 71.75 49.91Z" fill="#BA1A1A"/>
      </svg>

      <div class="flex flex-col items-center gap-2">
        <h2 class=" text-2xl font-bold m-0">
          {errorTitle}
        </h2>
        <p class=" text-sm font-normal">
          <strong>{errorText}</strong> <br>
          <i>Por favor, intenta nuevamente en unos momentos o vuelve a enviar el formulario.</i>
        </p>
      </div>

      <button
        type="button"
        class="retry-btn  bg-[#4A0D0D] text-white px-6 py-3 rounded cursor-pointer transition hover:bg-[#BA1A1A]"
      >
        Intentar nuevamente
      </button>
    </div>
  </div>

</div>