---
// src/components/forms/FormField.astro
const {
  label,
  name,
  type = "text",
  placeholder = "",
  required = true
} = Astro.props;
const inputId = `${name}-input`;
---

<div class="relative form-field">
  <label for={inputId} class="absolute -top-3 left-3 bg-[var(--color-green-dark)] px-2 text-sm text-[#FFF] rounded-xs">
    {label}{required && '*'}
  </label>

  <input
    id={inputId}
    name={name}
    type={type}
    placeholder={placeholder}
    required={required}
    class="w-full border border-[var(--color-green-dark)] border-2 rounded-[4px] px-4 py-3 placeholder:text-[#A0A0A0] text-[#212121] focus:outline-none bg-white hover:bg-[var(--color-secondary-light)] focus:bg-[var(--color-secondary-light)] transition-colors duration-300"
  />
</div>